<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    gunmetal: '#2a3439',
                    lightgrey: '#d3d3d3',
                    greenaccent: '#00FF66',
                },
                fontFamily: {
                    sans: ['Inter', 'sans-serif'],
                },
            },
        },
    };
</script>
